layout_uv() {
  VIRTUAL_ENV="$(pwd)/.venv"

  [[ -d $VIRTUAL_ENV ]] || uv venv

  PATH_add "$VIRTUAL_ENV/bin"
  export UV_ACTIVE=1
  export VIRTUAL_ENV
}

use asdf

export PIP_IGNORE_INSTALLED=1
layout uv

pre-commit install
