# Project-specific
/dev/
/data/
*.csv
*.html

# IDE
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Tool caches
.ruff_cache/
.pytest_cache/

# Environment
.venv/
.idea/
.playwright-mcp
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
