default_install_hook_types: [pre-commit, pre-push]

repos:
  # local hooks
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --target-version py310 --exit-non-zero-on-format
        language: system
        types: [python]
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --target-version py310 --fix --show-fixes --exit-non-zero-on-fix
        language: system
        types: [python]
      - id: ty
        name: ty
        entry: uv run ty check --error-on-warning
        language: system
        types: [python]
      - id: pytest
        name: pytest
        entry: uv run pytest
        language: system
        pass_filenames: false
        stages: [pre-push]

  # "official" pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-symlinks

  # third-pary hooks
  - repo: https://github.com/kynan/nbstripout
    rev: 0.9.0
    hooks:
      - id: nbstripout
